<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gpsdk.demo.gpsdkdemo">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".BluetoothDeviceList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/bluetooth_device_list"
            android:theme="@android:style/Theme.Dialog"/>
        <activity
            android:name=".UsbDeviceList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/usb_devices_list"
            android:theme="@android:style/Theme.Dialog"/>
        <activity
            android:name=".SerialPortList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.Dialog"/>
        <activity android:name=".ConnMoreDevicesActivity"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

</manifest>
